## Assignment Question

__Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series__

In [2]:
import pandas as pd

In [6]:
df=pd.Series(data=[4,8,15,16,23,42])
print(df)
print(type(df))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

__Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it__

In [7]:
d=list(range(1,11))
df=pd.Series(data=d)
print(df)
print(type(df))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>

__Q3. Create a Pandas DataFrame that contains the following data:__

In [9]:
data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

__Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example ?__

__Ans)__ A DataFrame is a 2D labeled data structure with columns of different types, while a Series is a 1D labeled array holding a single column of data. The main difference is that a DataFrame can hold multiple columns, while a Series can only hold one column. In code, we can create a DataFrame using a dictionary and create a Series by selecting a column from a DataFrame.

__Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?__

__Ans)__ These are the common functions and methods for manipulating data in a Pandas DataFrame include __head(), tail(), info(), describe(), groupby(), and drop()__. These can be used to view data, get summary statistics, group data, and remove columns or rows. The choice of function or method depends on the task and the data being analyzed.

In [ ]:
print(df.head())
print(df.tail())
print(df.info())

__Q6. Which of the following is mutable in nature Series, DataFrame, Panel?__

__Ans)__ In Pandas, __both Series and DataFrame are mutable in nature__, while Panel is deprecated since version 0.25.0 and is no longer used.

Mutability means that the object can be changed after it is created. For example, we can add or remove elements to/from a Series or a DataFrame after it is created. This is useful for data manipulation and analysis, where we often need to modify the data in some way to get the desired result.

__Q7. Create a DataFrame using multiple Series. Explain with an example.?__

In [10]:
# create multiple Series
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
gender = pd.Series(['Female', 'Male', 'Male'])

# create a DataFrame using the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

-------------------------------------------------------------------------------------------- __End__----------------------------------------------------------------------------------------------------------------